h1{
    font-family: 'Caveat', cursive;
}
.g{
    text-align: center;
    color: whitesmoke;
    padding: 20px;
    border: solid rgb(175, 177, 83);
    background-color: rgb(175, 177, 83);
    font-family: 'Martian Mono', monospace;
    border-radius: 20px;
    box-shadow: 5px 6px 17px black;


}
.h{
    font-size: xx-large;
    text-decoration: none;
    border: solid #39b7bd;
    padding: 25px;
    border-radius: 8px;
    background-color: #8431c3;
    margin-top: 50px;
    color: aliceblue;
    font-weight: bolder;
    transition: 0.7s;
    margin: 0 10px 10px;
    box-shadow: 5px 6px 17px black;
    
}
.f{
    margin-top: 40px;
    display: flex;
    width: 100%;

    flex-wrap: wrap;
    justify-content: flex-start;
    
}

    
body{
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.k{
    width: 215px;
    height: 300px;
}
.l{
    margin-top: 100px;
    margin-right: 100px;
    align-self: center;
}
.t{
    
    border: solid #39b7bd;
    padding-right: 30px;
    background-color: #8431c3;
    border-radius: 8px;
    padding-left: 30px;
    padding: 20px;
    margin-top: 30px;
    margin-left: 686px;
    display: block;
    width: 150px;
    height: 15px;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    font-weight: bolder;
    font-size: larger;
    transition: padding 0.6s;
    /* border-color:  */
}
.o{
    text-align: center;

}
.r{
    margin-left: 40px;
}

.wrap{
    display: flex;
}
.h:hover{
    padding: 20px;

}
.t:hover{
    padding: 15px;
    padding-left: 25px;
}
.qwert{
    width: 100%;
    height: 100%;
}


@media(max-width: 768px){
    .h{
        margin: 0 auto;
        margin-bottom: 37px;
        display: block;
        font-size: 22PX;
        text-align: center;
    }
    .wrap{
        display: block;
    }
   img{
        height: 180px;
        width: 100%;
        margin: 0;
    }
    iframe{
        width: 100%;
    margin-top: 20px
    }
    .t{
        margin: 0 auto;
    }
    .r{
        margin-left: 0;
    }
    .l{
        height: auto;
    }
    .k{
        width: 100%;
        height: 100%;
    }
}